Makefile.rules
bin/libsaw.a
build/release/
check/*/*.d
check/*/*.gcda
check/*/*.gcno
check/*/*.o
check/*/Makefile.rules
check/*/cov.info
check/*/make.err
check/*/make.out
check/*/test
check/*/test.db
check/*/test.err
check/*/test.out
check/Makefile.rules
check/analysis.log
check/coverage.info
check/coverage.log
check/test.log
doc/coverage/
doc/doxygen/
